
/** ADD YOUR AWESOME CODES HERE **/

.awesome-transition {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn.btn-link {
  text-transform: none;
  font-weight: normal;
}