
/** ADD YOUR AWESOME CODES HERE **/

.awesome-transition {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn.btn-link {
  text-transform: none;
  font-weight: normal;
}

.cursor-hand {
  cursor: pointer;
}

.h-almost-100 {
  height: 95.1% !important;
}

.feather-16 {
  width: 16px;
  height: 16px;
}

.feather-24 {
  width: 24px;
  height: 24px;
}

.feather-32 {
  width: 32px;
  height: 32px;
}

.feather-100 {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .mtm-5 {
     margin-top: 3rem !important;
  }

  .mbm-5 {
    margin-bottom: 3rem !important;
 }
}

.small {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

.text-primary {
  color: #00858D !important;
}

html {
  scroll-behavior: smooth;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
 body {
  
  overflow-x: hidden;
}

#sidebar-wrapper {
  margin-top: 6.25rem;
  min-height: 100vh;
  margin-left: -100%;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  display: block;
}

@media (min-width: 768px) {
  #menu-toggle {
    display: none;
  }

  #sidebar-wrapper {
    margin-top: 0;
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -100%;
  }
}